SEMAPHORE_API_KEY=your_server_only_semaphore_key
SEMAPHORE_SENDER_NAME=WIZENANCE
PORT=4000
SMS_ALLOWED_ORIGIN=*
OTP_TTL_MS=300000
OTP_REQUEST_WINDOW_MS=900000
OTP_REQUEST_LIMIT_MAX=5
OTP_VERIFY_WINDOW_MS=900000
OTP_VERIFY_LIMIT_MAX=10
